{% extends 'base.html' %}
{% block title %}Attendance list{% endblock title %}
{% block body %}

<div class="container my-4">

    <h1 class="text-center mb-4">Attendance-list</h1>

    <form method="POST" action="/update/{{attend.Lname}}">
    {% csrf_token %}
    <table class="table table-hover">

    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Roll-no</th>
        <th scope="col">Status</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td><input type="text" name="Fname" value="{{attend.Fname}}" readonly></td>
            <td><input type="text" name="Lname" value="{{attend.Lname}}" readonly></td>
            <td><input type="text" name="Status" value="{{attend.Status}}"></td>
        </tr>

    </tbody>

    </table>

    <input type="submit" value="update">
    
    </form>
</div>
{% endblock body%}